.m1{
    background-image: url('../../assets/pic2.jpg');
    background-repeat: no-repeat;
    /* background-color: Transparent; */
    padding: 5%; 
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
