.m1{
    background-image: url('../assets/bak.gif');
    background-repeat: no-repeat;
    /* background-color: Transparent; */
    padding: 2%; 
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
