<html>
    <body>
        <div class="m1">
            <img src="../../assets/poem1.jpg" style="width:500px;height:500px;" ><br>
            <img src="../../assets/poem2.png" style="width:500px;height:500px;" ><br>
            <img src="../../assets/poem3.png" style="width:500px;height:500px;" ><br>
            <img src="../../assets/poem4.png" style="width:500px;height:500px;" ><br>
            <img src="../../assets/poem5.jpg" style="width:500px;height:500px;" ><br>
            <img src="../../assets/poem6.jpeg" style="width:500px;height:500px;" ><br>
            <img src="../../assets/homw.jpeg" style="width: 50px;height: 60px;" align="right" (click)='homee()'>
        </div>
    </body>
    <router-outlet></router-outlet>
</html>
