<html>
    <body>
        <div class="m1">
            <img src="../../assets/alpha1.gif" style="width:100px;height:70px;"  align="left" (click)="send()"><br> <b style="color:blueviolet;">Please click image for alphabet learning game.....Learn ittttt</b><br><br><br><br>
            <img src="../../assets/calc.gif" style="width:100px;height:70px;"  align="left" (click)="table()"><br> <b style="color:blueviolet;">Please click image for magic tables .....Learn ittttt</b><br><br><br><br>
            <img src="../../assets/poem.gif" style="width:100px;height:70px;"  align="left" (click)="poem()"><br> <b style="color:blueviolet;">Please click image for Poems .....Learn ittttt</b><br><br><br><br>
            <img src="../../assets/calc.png" style="width:100px;height:70px;"  align="left" (click)="calc()"><br> <b style="color:blueviolet;">Please click image for game of numbers</b><br><br><br><br>
            <img src="../../assets/color.png" style="width:100px;height:70px;"  align="left" (click)="color()"><br> <b style="color:blueviolet;">Please click image for game of world of colors</b>
        </div>
    </body>
    <router-outlet></router-outlet>
</html>
