<html>
    <body>
        <div class='m1'>
            <div align='middle'><b> Let's know do you know names of colors !! Click emoji</b></div><br><br>
            <img src="../../assets/homw.jpeg" style="width: 50px;height: 60px;" align="right" (click)='homee()'>
            <b style="color:red;">Whats my color??</b>
            <select #val1>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respond(val1.value)'><br><br>
            <b style="color:green;">Whats my color??</b>
            <select #val>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondg(val.value)'><br><br>
            <b style="color:blue;">Whats my color??</b>
            <select #valb>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondb(valb.value)'><br><br>
            <b style="color:yellow;">Whats my color??</b>
            <select #valy>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondb(valy.value)'><br><br>
            <b style="color:gray;">Whats my color??</b>
            <select #valgr>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondgr(valgr.value)'><br><br>
            <b style="color:violet;">Whats my color??</b>
            <select #valv>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondv(valv.value)'><br><br>
            <b style="color:pink;">Whats my color??</b>
            <select #valp>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
                <option>pink</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondp(valp.value)'><br><br>
            <b style="color:purple;">Whats my color??</b>
            <select #valpp>
                <option>red</option>
                <option>green</option>
                <option>yellow</option>
                <option>blue</option>
                <option>black</option>
                <option>violet</option>
                <option>gray</option>
                <option>pink</option>
                <option>purple</option>
            </select>
            <img src="../../assets/smile.gif" style="width: 60px;height: 70px;" (click)='respondpp(valpp.value)'><br><br>
        </div>
    </body>
</html>
